* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  overflow-x: hidden;
}
/* SECTION HEADER */
.icon1 {
  height: 2.8rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  /* background-color: #fcfaf9; */
}

/* REUSABLES */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
/* sticky nav */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
.grid:last-child {
  margin-bottom: 0;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid--2-col {
  grid-template-columns: 1fr 1fr;
}
.center-text {
  text-align: center;
}
/* SECTION HERO */
.section-hero {
  /* background-color: #a5eedc; */
  padding: 3rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.primary_heading {
  font-size: 4.95rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-family: "Cabin Sketch", cursive;
  /* font-weight: 700;
  letter-spacing: -0.6px; */
  color: #00a8e8;
}
.hero_description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  color: #014661;
}
.hero_image_box {
  justify-self: center;
  width: 100%;
}
.hero_image_box img {
  max-width: 100%;
}
.ecg_image {
  width: 25rem;
  height: 12rem;
  margin-bottom: 3.2rem;
}
/* .logo_image {
  width: 85%;
  height: auto;
} */
/* button */
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
}
.btn-full:link,
.btn-full:visited {
  background-color: #00a6e8b2;
  color: #fff;
}
.btn-full:hover,
.btn-full:active {
  background-color: #fff;
  color: #00a6e8b2;
}

/* icons */
.menu_icon {
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}
.search_icon {
  height: 1.8rem;
  width: 1.8rem;
}

/* NAVIGATION */
.show {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1.2;
}
.dropdown a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #ddd;
}

.dropdown {
  /* display: flex; */
  /* gap: 4rem; */
  align-items: center;
  position: relative;
  display: inline-block;
}
.dropbtn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  /* border: none; */
  /* background-color: #fff; */
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #00a6e842;
}
.main_nav_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
/* LINKS */

.main_nav_link:link,
.main_nav_link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #014661;
  transition: all 0.3s;
}

.main_nav_link:hover,
.main_nav_link:active {
  color: #00a6e8b2;
}

.main_nav_link.nav_cta:link,
.main_nav_link.nav_cta:visited {
  background-color: #00a6e8b2;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.main_nav_link.nav_cta:hover,
.main_nav_link.nav_cta:active {
  background-color: #fff;
  color: #00a6e8b2;
}

.menu_icon {
  color: #014661;
}
.pad_color {
  color: #014661;
}

/* SECTION HOW IT WORSKS */
.section-how {
  padding: 9.6rem 0;
}
.step-heading {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
.steps-head {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  /* text-align: center; */
}
.step-content {
  font-size: 1.6rem;
  line-height: 1.3;
}
/* sSECTION ABOUT US */
.about {
  align-items: center;
  background-color: aliceblue;
  border-radius: 1.5rem;
}

.section-about-us {
  padding: 9.6rem 0;
}
.about-img img {
  max-width: 100%;
}
.about-txt {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* Section CTA */
.section_cta {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #00a6e8b2;
  box-shadow: 0 2.2rem 4.6rem rgba(0, 0, 0, 0.3);
  border-radius: 11px;
  overflow: hidden;
  /* height: 450px; */
}
.cta_text_box {
  color: #333;
  padding: 3.2rem 6.4rem 6.4rem 6.4rem;
}
.cta .secondary_heading {
  color: #333;
  margin-bottom: 3.8rem;
  font-weight: 700;
  letter-spacing: -0.6px;
  font-size: 3.6rem;
  line-height: 1.2;
}
.cta_text {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  color: #333;
}
.cta_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta_form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta_form input,
.cta_form select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 9px;
  border: none;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta_form input ::placeholder {
  color: #aaa;
}

.sign_up_button,
.sign_up_button:link,
.sign_up_button:visited {
  background-color: #fdf2e9;
  /* background-color: #00a6e8b2; */
  color: #00a6e8b2;
  align-self: end;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem 3.2rem;
  border-radius: 8px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.sign_up_button:hover {
  background-color: #00a6e8b2;
  color: #fff;
}
.cta_image_box {
  background-image: linear-gradient(
      to right bottom,
      rgba(78, 198, 235, 0.253),
      rgba(78, 198, 235, 0.253)
    ),
    url(../photos/study1.jpg);
  background-size: cover;
  background-position: center;
}

/* SECTION PLAN */
.course-plan {
  padding: 5rem 0;
}

.sub-heading {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  color: #00a6e8b2;
}
.secondary-heading {
  margin-bottom: 9.6rem;
  font-size: 2.5rem;
}

.plan {
  box-shadow: 0 2.2rem 4.6rem rgba(0, 0, 0, 0.35);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 75%;
  padding: 4.6rem;
  /* height: 40rem; */
}
.plan:hover {
  transform: translate(0, -1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.25);
}
.grid-plan {
  grid-template-columns: 1fr 1fr;
  row-gap: 9rem;
  justify-content: center;
}
.free-plan {
  justify-self: right;
}

.plan-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  font-size: 2rem;
  font-weight: 600;
  color: #00a6e8b2;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-text-paid {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #6f6f6f;
}
/* .tag {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  color: #333;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.tag--free {
  background-color: #00a6e8b2;
} */
.plan-content {
  color: #333;
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.plan-title {
  margin-bottom: 2.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}
.plan-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.plan-text {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.plan-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  height: 2rem;
  width: 2rem;
  color: #00a6e8b2;
}

/* SECTION FOOTER */
.footer {
  padding: 9.6rem 0;
  border-top: 0.002px solid rgba(209, 206, 206, 0.426);
}
.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}
.social-links {
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
}
.copyright {
  margin-top: 2rem;
  /* font-size: 12px; */
}
.logo-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #555;
}
.contacts {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.5;
}
.contacts p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #767676;
  margin-bottom: 1.4rem;
}
.contacts:link,
.contacts:visited {
  text-decoration: none;
}
.footer-heading {
  font-size: 1.8rem;
  /* line-height: 1.5; */
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #222;
}

/* MOBILE NAVIGATION */
.menu-icon {
  height: 4rem;
  width: 4rem;
  color: #222;
}
.menu-icon[name="close-outline"] {
  display: none;
}
.btn-mobile-nav {
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: none;
}
